---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro"
import { FaCar, FaTruckPickup  } from "react-icons/fa6";
import { TbTruckDelivery } from "react-icons/tb";
import { FaHeart } from "react-icons/fa";

---

<Layout title="Entregas">
    <h1 class="text-5xl text-center md:text-5xl font-bold text-gray-900 mb-10"> 
        Entregas
    </h1>
    <section>
        <div class="services-grid">
          <div class="service">
            <FaCar className="text-5xl text-[#404040]" />
            <h4>Delivery en toda Caracas</h4>
            <p class="text-[#404040]">Para recibir tu libro directamente en tu hogar.</p>
          </div>
      
          <div class="service">
            <FaTruckPickup className="text-5xl text-[#404040]" />
            <h4>Pick-up</h4>
            <p class="text-[#404040]">En Prados del Este y Santa Mónica, bajo previo aviso.</p>
          </div>
      
          <div class="service">
            <TbTruckDelivery className="text-5xl text-[#404040]" />
            <h4>Envíos a todos el país</h4>
            <p class="text-[#404040]">A través de MRW (aprox. 250 bs). El pago se realiza directamente a la agencia al recibir el libro.</p>
          </div>
          <div class="service">
            <FaHeart className="text-5xl text-[#404040]" />
            <h4>¡A tu preferencia!</h4>
            <p class="text-[#404040]">También ofrecemos envíos por Zoom o Tealca si así lo prefieres.</p>
          </div>
        </div>
        <p class="text-xl md:text-3xl text-[#404040] mt-10">¡No te preocupes si nunca has recibido un envío nacional! <br>Estaremos encantados de guiarte en el proceso. ¡Pregúntanos cualquier duda que tengas!</p>
    </section>
</Layout>
<style scoped>
    
section {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 1.825rem;
  margin: 1.3rem 0;
}

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #404040;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid {
  display: -webkit-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  /* align-items: center; */
}

.service {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: #42b7ca;
}

.service1:hover {
  border: 2px solid #42b7ca;
}

.service2 i,
.service2 h4,
.service2 .cta {
  color: #425fca;
}

.service2:hover {
  border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
  color: #9c42ca;
}

.service3:hover {
  border: 2px solid #9c42ca;
}

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}

@media all and (max-width:900px) {
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
</style>