---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1 class="text-center text-5xl text-gray-950 font-bold mt-5">Sobre nosotros</h1>

</Layout>


<!-- Librería Canto Mortal. ¿Conoces el canto de las sirenas? Al escucharlo, no puedes resistirte a él. Así son los libros para nosotros: un canto mortal del que no puedes escapar.
		
Tenemos más de cuatro años presentes en el país, cada libro que ofrecemos es una invitación a un mundo nuevo, una nueva aventura y otra oportunidad para enamorarte.< -->