---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import { BiSolidRename } from "react-icons/bi";
import bgWeare from "../assets/bg-weare-2.jpg";
---

<Layout title="Nosotros">
    <section class="max-w-[1024px] relative">
		<h1 class="text-center text-5xl lg:text-7xl text-gray-950 font-bold mt-5">Librería Canto Mortal</h1>
		<p class="mt-10 text-2xl lg:text-5xl text-balance text-gray-900 text-center">¿Conoces el canto de las sirenas? Al escucharlo, no puedes resistirte a él. Así son los libros para nosotros: un canto mortal del que no puedes escapar.</p>
		<!-- <img src={bgWeare.src} alt="" class="mt-5 mx-auto"> -->
		<p class="mt-20 text-2xl lg:text-5xl text-balance text-gray-900 text-center">Tenemos más de cuatro años presentes en el país, cada libro que ofrecemos es una invitación a un mundo nuevo, una nueva aventura y otra oportunidad para enamorarte</p>
	</section>
</Layout>