---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import { BiSolidRename } from "react-icons/bi";
import bgWeare from "../assets/bg-weare-2.jpg";
---

<Layout>
    <section class="max-w-[600px] relative">
		<h1 class="text-center text-5xl text-gray-950 font-bold mt-5">Librería Canto Mortal</h1>
		<p class="mt-5 text-2xl text-balance text-gray-900">¿Conoces el canto de las sirenas? Al escucharlo, no puedes resistirte a él. Así son los libros para nosotros: un canto mortal del que no puedes escapar.</p>
		<!-- <img src={bgWeare.src} alt="" class="mt-5 mx-auto"> -->
		<p class="mt-5 text-2xl text-balance text-gray-900">Tenemos más de cuatro años presentes en el país, cada libro que ofrecemos es una invitación a un mundo nuevo, una nueva aventura y otra oportunidad para enamorarte</p>
	</section>
</Layout>



<!-- Librería Canto Mortal. ¿Conoces el canto de las sirenas? Al escucharlo, no puedes resistirte a él. Así son los libros para nosotros: un canto mortal del que no puedes escapar.
		
Tenemos más de cuatro años presentes en el país, cada libro que ofrecemos es una invitación a un mundo nuevo, una nueva aventura y otra oportunidad para enamorarte.< -->