---
import CarouselSwiper from '../components/react/CarouselSwiper.jsx'
import white from '../assets/books/white.webp'
import beauty from '../assets/books/beauty.webp'
import blood from '../assets/books/blood.webp'
import harry from '../assets/books/harry.jpg'
import animals from '../assets/books/animals.jpg'
import { BiArrowBack  } from "react-icons/bi";

const books = [
    {
        name: 'Blancanieves',
        hash: 'BlancaNieves Disney',
        price: '20,19',
        discount: '10',
        image: white
    },
    {
        name: 'Bella y Bestia',
        hash: 'Beauty Disney',
        price: '40,20',
        discount: '20',
        image: beauty
    },
    {
        name: 'Blood Fire',
        hash: 'Fantasy Disney',
        price: '30,82',
        discount: '15',
        image: blood
    },
    {
        name: 'Animales Fantásticos',
        hash: 'World Fantasy',
        price: '10,10',
        discount: '120',
        image: animals
    },
    {
        name: 'Harry Poter',
        hash: 'Magic Potter',
        price: '20,83',
        discount: '12',
        image: harry
    },
    {
        name: 'Blancanieves',
        hash: 'BlancaNieves Disney',
        price: '20',
        discount: '10',
        image: white
    },
    {
        name: 'Bella y Bestia',
        hash: 'Beauty Disney',
        price: '40',
        discount: '20',
        image: beauty
    },
    {
        name: 'Blood Fire',
        hash: 'Fantasy Disney',
        price: '30',
        discount: '15',
        image: blood
    },
    {
        name: 'Animales Fantásticos',
        hash: 'World Fantasy',
        price: '10',
        discount: '12',
        image: animals
    },
    {
        name: 'Harry Poter',
        hash: 'Magic Potter',
        price: '20',
        discount: '10',
        image: harry
    },
];

// const books = [white, beauty, blood, harry, animals, white, beauty, blood, harry, animals]
---
<div class="flex flex-col items-end relative">
    <div class="flex gap-2 absolute z-20 top-5 right-5">
        <button class="swiper-btn-prev cursor-pointer active:scale-90 border-1 border-gray-500 p-3 rounded-full hover:scale-95 transition-all">
            <BiArrowBack className='text-xl text-gray-500' />
        </button>
        <button class="swiper-btn-next cursor-pointer active:scale-90 border-1 border-gray-500 p-3 rounded-full hover:scale-95 transition-all">
            <BiArrowBack className='text-xl text-gray-500 rotate-180'/>
        </button>
    </div>
    <div class="max-w-[1024px]">

        <swiper-container class="mySwiper" init="false">
            {
                books.map((book, index) => (
                    <swiper-slide key={index} class="cursor-pointer" data-name={JSON.stringify(book)}>
                        {/* <img loading="lazy" src={book.image.src} /> */}
                        <div class="image transition-all" style={`background-image: url('${book.image.src}')`}></div>
                        
                    </swiper-slide>
                ))
            }
        </swiper-container>
    </div>

</div>
<script>
    // const white = 'path/to/white.webp';
    // const beauty = 'path/to/beauty.webp';
    // const blood = 'path/to/blood.webp';
    // const harry = 'path/to/harry.jpg';
    // const animals = 'path/to/animals.jpg';

    // const books = [white, beauty, blood, harry, animals, white, beauty, blood, harry, animals];

    const swiperEl = document.querySelector('swiper-container');
    const slideCurrentPrice = document.querySelector('.slide-current-price');
    console.log(slideCurrentPrice)
    Object.assign(swiperEl, {
        loop: true,
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: false,
        slideActiveClass: 'active-book',
        slideNextClass: 'next-book',
        slideToClickedSlide: true,
        on: {
            slideChange: function(x) {
                const activeIndex = x.activeIndex + 1;
                const activeSlide = x.slides[activeIndex];
                const dataSlide = JSON.parse(activeSlide.attributes['data-name'].textContent)
                // console.log('Active slide element:', activeSlide);
                console.log('slideChange')
                console.log(x)
                console.log({
                    index: activeIndex,
                    slide: dataSlide
                })

                const nameEl = document.querySelector('.name-book');
                const hashtagsEl = document.querySelector('.hashtags');
                const bcvEl = document.querySelector('.bcv');
                const cashEl = document.querySelector('.cash');

                if (nameEl) nameEl.textContent = dataSlide.name;
                if (hashtagsEl) hashtagsEl.textContent = dataSlide.hash;
                if (bcvEl) bcvEl.textContent = dataSlide.price;
                if (cashEl) cashEl.textContent = dataSlide.discount;
            }
        },
        navigation: {
            nextEl: '.swiper-btn-next',
            prevEl: '.swiper-btn-prev',
        },
        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 4,
                spaceBetween: 40,
            },
            1280: {
                slidesPerView: 4.5,
                spaceBetween: 30,
            },
        },
    });
    swiperEl.initialize();
</script>
<style scoped>
    swiper-container {
        width: 1024px;
        height: 420px;
        margin-left: auto;
        margin-right: auto;
        align-items: end;
    }

    swiper-slide {
        text-align: center;
        font-size: 18px;
        background: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        margin-top: 100px;
        margin-bottom: 100px;
        transition: all 300ms ease-in-out;
    }
    .image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    
    .active-book {
        /* background: red; */
    }
    .next-book {
        background: #000;
        transform: scale(1.3) translateY(-34px);
        margin-right: 60px !important;
        margin-left: 20px;
        box-shadow: 0 0 15px #00000026;
        position: relative;
        .image::after {
            /* position: absolute;
            content: "";    
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: inherit;
            filter: blur(25px) saturate(1.5);
            z-index: -1;
            scale: 1.05; */
        }
    }
    .next-book img::after {
        position: absolute;
        content: "";    
        width: 100%;
        height: 100%;

        background: inherit;
        filter: blur(25px) saturate(1.5);
        z-index: -1;
        scale: 1.05;
    }

</style>